@using DataLayer.Dtos.Admin.Base
@using DataLayer.Dtos.Admin.Advertisement
@{
    ViewData["Title"] = "Home Page";
}
@model AdminReadByIdQueryResult<AdminAdvertisementDto>?


@if (Model != null)
{
    <div id="EditModal" uk-modal dir="rtl">
        <div class="uk-modal-dialog">
            <!--Header Start-->
            <div class="uk-modal-header _MyFont" dir="rtl">
                <button class="uk-modal-close-outside" type="button" uk-close></button>

                <h2 class="mt-2 _MyFont">
                    <span uk-icon="icon:plus-circle;ratio:1.5"></span>
                    <span class="uk-modal-title">
                        ویرایش تبلیغ
                    </span>
                </h2>
            </div>
            <!--Header End-->
            <!--Body Start-->
            <div class="uk-modal-body _MyFont">
                <!--Form Start-->
                <form class="_MyFont" enctype="multipart/form-data" id="MyForm1">
                    @Html.AntiForgeryToken()
                    <div uk-form-custom class="text-end">
                        <input onchange="BanerChange(this)" type="file" name="MainBaner" accept="image/gif,image/png,image/jpeg,image/webp" id="MainBrandImageInput">
                        <button class="uk-button uk-button-default" type="button">انتخاب بنر</button>
                    </div>
                    <div class="my-2 text-center" id="MainBrandImagePreview">
                        <img width="240" src="~/Resources/@Model.Result.MainBaner" />
                    </div>
                    <label class="_MyFont fw-bold text-danger">لینک تبلیغ ...</label>
                    <textarea name="Link" id="Link" class="uk-textarea my-2 mx-2" rows="10" value="@Model.Result.Link" required>@Model.Result.Link</textarea>
                </form>
                <!--Form End-->
            </div>
            <!--Body End-->
            <!--Footer Start-->
            <div class="uk-modal-footer uk-text-left _MyFont fw-bold">
                <button class="uk-button uk-button-danger uk-modal-close" type="button">خروج</button>
                <button class="uk-button uk-button-primary" type="submit" onclick="Update(@Model.Result.Id)">ثبت</button>
            </div>
            <div class="progress uk-hidden mx-2" id="progressDiv">
                <div class="progress-bar"></div>
            </div>
            <!--Footer End-->
        </div>

    </div>
}
else{
    <div id="AddModal" uk-modal dir="rtl">
        <div class="uk-modal-dialog">
            <!--Header Start-->
            <div class="uk-modal-header _MyFont" dir="rtl">
                <button class="uk-modal-close-outside" type="button" uk-close></button>

                <h2 class="mt-2 _MyFont">
                    <span uk-icon="icon:plus-circle;ratio:1.5"></span>
                    <span class="uk-modal-title">
                        تبلیغ جدید
                    </span>
                </h2>
            </div>
            <!--Header End-->
            <!--Body Start-->
            <div class="uk-modal-body  _MyFont">
                <!--Form Start-->
                <form class="_MyFont" enctype="multipart/form-data" id="MyForm1">
                    @Html.AntiForgeryToken()
                    <div uk-form-custom class="text-end">
                        <input onchange="AddModalBanerChange()" required type="file" name="MainBaner" accept="image/gif,image/png,image/jpeg,image/webp" id="MainBrandImageInput">
                        <button class="uk-button uk-button-default" type="button">انتخاب بنر</button>
                    </div>
                    <div class="my-2 text-center" id="MainBrandImagePreview">
                    </div>
                    <label class="_MyFont fw-bold text-danger">لینک تبلیغ ...</label>
                    <textarea name="Link" id="Link" class="uk-textarea my-2 mx-2" rows="10" value="" required></textarea>
                </form>
                <!--Form End-->
            </div>
            <!--Body End-->
            <!--Footer Start-->
            <div class="uk-modal-footer p-2 uk-text-left _MyFont fw-bold">
                <button class="uk-button uk-button-danger uk-modal-close" type="button">خروج</button>
                <button class="uk-button uk-button-primary" type="submit" onclick="Add()">ثبت</button>
            </div>
            <div class="progress uk-hidden" id="progressDiv">
                <div class="progress-bar"></div>
            </div>
            <!--Footer End-->
        </div>

    </div>
}